/* === state is-active === */

.is-active.menu-item-link{
  color: $black;
  border-bottom: 2px solid $theme-color;
}

@media screen and(max-width: 568px){
  .is-active.menu-item-link{
    color: $white;
    opacity: .6;
    border-bottom: none;
  }
}

.slider-pager{
  .is-active{
    background-color: $light-color;
  }
}