@font-face {
    font-family: 'pt_sans_regular';
    src: url('../font/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: url('../font/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         url('../font/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         url('../font/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sans_regular') format('svg');


}


@font-face {
    font-family: 'lintel_regular';
    src: url('../font/lintel_regular/lintel-regular-webfont.eot');
    src: url('../font/lintel_regular/lintel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lintel_regular/lintel-regular-webfont.woff') format('woff'),
         url('../font/lintel_regular/lintel-regular-webfont.ttf') format('truetype'),
         url('../font/lintel_regular/lintel-regular-webfont.svg#lintel_regular') format('svg');


}
