$grid-width: 970px;

$base-font-size: 16px;

/*$theme-color: rgb(50, 146, 255);
$theme-color-transparent: rgba(50, 146, 255, .9);
$theme-color-transparent-popup: rgba(50, 146, 255, .3);*/

$theme-color: rgb(198, 42, 49);
$theme-color-transparent: rgba(198, 42, 49, .9);
$theme-color-transparent-popup: rgba(198, 42, 49, .3);
$light-color: #778081;
$dark-color: #454545;
$white: #fff;
$black: rgb(0, 0, 0);
$black-transparent: rgba(0, 0, 0, .5);
