/* === Centre life module === */

.centre-life{
  img{
    float: right;
    margin: 0px 0px 20px 20px;
  }
  p{
    padding: 5px 0;
    font-size: em(14px);
    color: $light-color;
    &:last-of-type{
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .centre-life{
    p{
      padding: 0;
      &:first-of-type{
        padding-top: 20px;
      }
      &:nth-of-type(2){
        padding-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .centre-life{
    img{
      float: none;
      margin-left: 0;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi){
  #centre-life-img {
      height: 0;
      width: 0;
      padding-left: 200px;
      padding-top: 200px;
      background-image: url(../img/main/photo_2@2x.png);
      background-size: 200px 200px;
  }
}

@media screen and (max-width: 768px) {
  #centre-life-img {
    height: 0;
    width: 0;
    padding-left: 307px;
    padding-top: 307px;
    background-image: url(../img/main/photo_tablet_2.png);
    background-size: 307px 307px;
  }
}
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (max-width: 768px) and (min-resolution: 144dpi) {
  #centre-life-img {
    height: 0;
    width: 0;
    padding-left: 307px;
    padding-top: 307px;
    background-image: url(../img/main/photo_tablet_2@2x.png);
    background-size: 307px 307px;
  }
}
@media screen and (max-width: 640px) {
  #centre-life-img {
    height: 0;
    width: 0;
    padding-left: 280px;
    padding-top: 280px;
    background-image: url(../img/main/photo_mobile_2.png);
    background-size: 280px 280px;
  }
}
@media only screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (max-width: 640px) and (min-resolution: 144dpi) {
  #centre-life-img {
    height: 0;
    width: 0;
    padding-left: 280px;
    padding-top: 280px;
    background-image: url(../img/main/photo_mobile_2@2x.png);
    background-size: 280px 280px;
  }
}